@model Subscription;

@{
    ViewData["Title"] = "Subscription";
}

<h2>Subscription</h2>

<form asp-controller="Account" asp-action="Subscription" method="post">
	<div asp-validation-summary="All"></div>

	<div class="form-group">
		<label asp-for="Email"></label>
		<input asp-for="Email" class="form-control" />
		<span asp-validation-for="Email" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="FirstName"></label>
		<input asp-for="FirstName" class="form-control" />
		<span asp-validation-for="FirstName" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="LastName"></label>
		<input asp-for="LastName" class="form-control" />
		<span asp-validation-for="LastName" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Password"></label>
		<input asp-for="Password" class="form-control" />
		<span asp-validation-for="Password" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="RoleSelected"></label>
		<select asp-for="RoleSelected" asp-items="Model.Roles" class="form-control"></select>
		<span asp-validation-for="RoleSelected" class="text-danger"></span>
	</div>

	<button type="submit" class="btn btn-primary">Submit</button>
</form>
